@page "/counter"
@rendermode InteractiveWebAssembly
@inject ILogger<Counter> logger

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private FbClient _fbClient;

    private void IncrementCount()
    {
        if (_fbClient.StringVariation("testing-visibility", "Collapsed") == "Visible")
            currentCount += 100;
        currentCount++;
    }

    protected override void OnInitialized()
    {
        var options = new FbOptionsBuilder("xxx")
                            .Event(new Uri("https://featbit-tio-eu-eval.azurewebsites.net"))
                            .Streaming(new Uri("wss://featbit-tio-eu-eval.azurewebsites.net"))
                            .APIs(new Uri("https://featbit-tio-eu-api.azurewebsites.net"))
                            .StartWaitTime(TimeSpan.FromSeconds(10))
                            .Build();

        _fbClient = new FbClient(options);
        if (_fbClient.Initialized)
        {
            Console.WriteLine("Client is initialized");
            Console.WriteLine("testing-visibility:" + _fbClient.StringVariation("testing-visibility", "Collapsed"));
        }
        // else
        // {
        //     Console.WriteLine("Client is not initialized");
        // }
    }
}
