@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>RenderMessage: @renderMessage</p>

@code {
    [CascadingParameter]
    public FbClient FeatureFlagStore { get; set; }

    private string renderMessage = "";

    protected override async Task OnInitializedAsync()
    {
        FeatureFlagStore.FeatureFlagsUpdated += (sender, e) =>
         {
             InvokeAsync(() =>
             {
                 renderMessage = FeatureFlagStore.StringVariation("testing-visibility", "Collapsed");
                 StateHasChanged(); // Rerender the component
             }).Wait();
         };
        renderMessage = FeatureFlagStore.StringVariation("testing-visibility", "Collapsed");
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }
}