@page "/"
@inject IFbClient _fbClient;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (IsWelcomeTextVisible)
{
    <p>Welcome to your new app.</p>
}


@code {

    private bool IsWelcomeTextVisible = false;

    protected override async Task OnInitializedAsync()
    {
        _fbClient.FeatureFlagsUpdated += FeatureFlagsUpdatedCallback;
        SetWelcomeVisibility();
    }

    private void FeatureFlagsUpdatedCallback(object? sender, FeatureFlagsUpdatedEventArgs e)
    {
        if (e.UpdatedFeatureFlags.Any(p => p.Id == "welcome-text-visibility"))
        {
            InvokeAsync(() =>
            {
                SetWelcomeVisibility();
            }).Wait();
        }
    }

    private void SetWelcomeVisibility()
    {
        IsWelcomeTextVisible = _fbClient.StringVariation("welcome-text-visibility", "Collapsed") == "Visible";
        StateHasChanged();
    }

    public void Dispose()
    {
        _fbClient.FeatureFlagsUpdated -= FeatureFlagsUpdatedCallback;
    }
}