@page "/"
@inject IFbClient _fbClient;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<StringFeatureFlag FlagKey="welcome-text-visibility" EnableValue="Visible" >
    <p>Welcome to your new app.</p>
</StringFeatureFlag>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}