@inject ILoggerFactory LoggerFactory

<>
    @Chil
</>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    [CascadingParameter]
    public FbClient FeatureFlagStore { get; set; }

    private int currentCount = 0;
    private string renderMessage = "";

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        renderMessage = FeatureFlagStore.StringVariation("testing-visibility", "Collapsed");
        FeatureFlagStore.FeatureFlagsUpdated += (sender, e) =>
         {
             InvokeAsync(() =>
             {
                 renderMessage = FeatureFlagStore.StringVariation("testing-visibility", "Collapsed");
                 StateHasChanged(); // Rerender the component
             }).Wait();
         };
    }
}
